.footer {
    background-color: #500021;
    color: #6BFF00;
    padding: 20px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
        font-size: 16px;
        font-weight: 500;
    }
}